@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;600;700&display=swap');


body {
  font-family: 'Poppins' , sans-serif;
  -webkit-font-smoothing : antialiased ; 
  -moz-osx-font-smoothing : grayscale ; 
  display: flex ;
  justify-content: center;
  min-height: 100vh;
  background : url('./components/Demo/MG.webp');

  background-size: cover;
  background-position: center;

}

code {
  font-family: source-code-pro , Menlo , Monaco , Consolas , 'Courier New' , monospace;
}
 


